[submodule "RT-Schedule-Frontend"]
	path = RT-Schedule-Frontend
	url = https://github.com/HanaBenami/RT-Schedule-Frontend.git
[submodule "RT-Schedule-Backend"]
	path = RT-Schedule-Backend
	url = https://github.com/HanaBenami/RT-Schedule-Backend.git
